<style>
body {
background: #000435;
*{
     margin: 0;
     padding: 0;
     font-family: Arial;
     box-sizing: border-box;
}
 ul{
list-style: none;
 }

a{
text-decoration: none;
}

.nav_options{
color: white;
}

.nav_option{
padding: 10px 18px;
font-size: 25px;
border radius: 8px;
background: orange;
color: white;
}
</style>










































