
body {
background: #000991;
*{
     margin: 0;
     padding: 0;
     font-family: Arial;
     box-sizing: border-box;
}
nav{
     background-color: #000991;
     displayh: grid;
     place-items: center;
}nav ul{
    list-style-type: none;
}

nav ul a {
text-decoration: none;
color: ; #FFFFFF;
font-size: 20px;
padding: 20px;
display: inline-block;
transition: 0.2s ease in;
}

nav ul a:hover {
background-color: #000991;
border-color: FFA500;
border-radius: 5px
}

.image-box {
width: 350px
height: 300px
overflow: hidden;
border: 2px solid #FF500;
align-contents: center;
}

.image-box img {
width: 100%
height: 100%
object-fit: cover;
}

































































